RewriteEngine On
RewriteBase /statoku/

# Public router
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^admin/(.*)$ public/admin_router.php?route=$1 [L,QSA]
RewriteRule ^(.*)$ public/index.php?route=$1 [L,QSA]
